body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .row {
    overflow: auto;
    width: 100%;
}

.formdiv {
  background-color: aquamarine;
  float: left; 
  /* margin-right: 5px;  */
  border: 1px solid;

}

.tablediv {
  background-color: rgb(168, 227, 86);
  float: left; 
  /* margin-right: 5px; */
  border: 1px solid;

}

.graphdiv {
  background-color: rgb(199, 81, 134);
  float: none;
  overflow: auto;
  width: auto;
  margin-right: 0;
  border: 1px solid;

}  

fieldset {
  border-radius: 5px;    
}

/* .form, .table {
  float: left; 
} */

.graph {
  /* float: right;   
  right: 3px; */
  min-width: initial
}

  ol, ul {
    padding-left: 30px;
  }

  label, input, select {
    margin-top: 10px;
  }

  input {
    width: 50px;
  }
  
  .mylabel {
    margin-top: 15px;
  }

  .mybtn {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  

  .radiolabel {
    margin-left: -18px;
    text-align: left;
  }


  

 
  

  
 