body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  label, input, select {
    margin-top: 10px;
  }

  input {
    width: 50px;
  }
  
  .mylabel {
    margin-top: 15px;
  }

  .mybtn {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  fieldset {
    display: inline;
    border-radius: 5px;
    float: left
  }

  .radiolabel {
    margin-left: -18px;
    text-align: left;
  }

  /* input[type="radio"] {
    margin-right: 0;
  } */